# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6a6e4ed9b803a366e6d441c4b57976e2ea3ee28cff37ec4618a9c3a257ae7dcc213061909f9f48ea96c88267f73d7e199b4f28fa88597fa6e6d19de75eb7df35
  s3_bucket_name: <%= ENV["S3_BUCKET_NAME"] %>
  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  aws_region: <%= ENV["AWS_REGION"] %>

test:
  secret_key_base: 148bae91be688aff3499240876ad6d2209177931ddd2970ea9ccc073d93d8354e6d639515968b7775d31ee99daa28ca23fa78a461057ea07f494725be2b4dc91

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
